@use 'abstracts/variables' as *;

table {
  .mat-mdc-header-row {
    background-color: $table-header-bg;
    height: 2.5rem;
  }

  .nowrap {
    white-space: nowrap;
  }

  .even-row {
    background-color: $table-even-row;
  }

  .odd-row {
    background-color: $table-odd-row;
  }

  .row-clickable {
    cursor: pointer;

    &:hover {
      color: var(--primary-color);
      background-color: $hover-bg;
    }
  }
}
