<div class="input-wrapper">
  <label [for]="inputName">{{label}}</label>
  <div class="input-container">
    <div class="input-content">
      <div class="select-container" (click)="toggleDropdown()">
        <input
          [id]="inputName"
          [placeholder]="placeholder"
          [value]="getDisplayValue()"
          readonly
          class="select-input"
        />
        <span class="dropdown-arrow" [class.rotated]="isOpen">▼</span>
      </div>

      @if (isOpen) {
        <div class="dropdown-options">
          @if (allowMultiple) {
            @for (option of options; track $index) {
              <div
                class="option-item"
                (click)="toggleOption(option)"
                [class.selected]="isSelected(option)"
              >
                <input
                  type="checkbox"
                  [checked]="isSelected(option)"
                  (click)="$event.stopPropagation()"
                />
                <span>{{ getOptionLabel(option) }}</span>
              </div>
            }
          } @else {
            @for (option of options; track $index) {
              <div
                class="option-item"
                (click)="selectSingleOption(option)"
                [class.selected]="isSelected(option)"
              >
                <span>{{ getOptionLabel(option) }}</span>
              </div>
            }
          }
        </div>
      }

      <ng-content></ng-content>
    </div>
    @if (error) {
      <p class="invalid-field-message">Campo inválido</p>
    }
  </div>
</div>
