<form [formGroup]="form">

  <app-wrapper-card title="Dados da empresa">
    <app-primary-input
      formControlName="legalName"
      label="Razão Social"
      inputName="legalName"
      type="text"
      [error]="
        form.get('legalName')?.invalid &&
        (form.get('legalName')?.touched || submitted)
      "
    />
    <app-primary-input
      formControlName="tradeName"
      label="Nome Fantasia"
      inputName="tradeName"
      type="text"
    />

    <!-- Grupo de contato -->
    <div formGroupName="contact">
      <app-primary-input
        formControlName="email"
        label="Email"
        inputName="email"
        type="email"
        placeholder="exemplo@email.com"
        [error]="
          form.get('contact.email')?.invalid &&
          (form.get('contact.email')?.touched || submitted)
        "
      />
      <app-primary-input
        formControlName="phone"
        label="Celular"
        inputName="phone"
        type="tel"
        placeholder="(00) 00000-0000"
        mask="(00) 00000-0000"
      />
    </div>

    <app-primary-input
      formControlName="cnpj"
      label="CNPJ"
      inputName="cnpj"
      type="text"
      placeholder="00.000.000/0000-00"
      mask="00.000.000/0000-00"
      appCnpjValidator
      [error]="
        form.get('cnpj')?.invalid &&
        (form.get('cnpj')?.touched || submitted)
      "
    />
    <app-primary-input
      formControlName="ie"
      label="Inscrição Estadual"
      inputName="ie"
      type="text"
    />
  </app-wrapper-card>

  <app-wrapper-card title="Endereço">
    <div formGroupName="address">
      <app-primary-input
        formControlName="zipcode"
        label="Código Postal"
        inputName="zipcode"
        placeholder="00000-000"
        mask="00000-000"
        type="text"
        [error]="
          form.get('address.zipcode')?.invalid &&
          (form.get('address.zipcode')?.touched || submitted)"
      >
        <button class="search-icon-btn" (click)="getAddressByCep()" [disabled]="!isCepValid()" [class.is-active]="isCepValid()">
          <mat-icon class="search-icon">search</mat-icon>
        </button>
      </app-primary-input>

      <app-primary-input
        formControlName="street"
        label="Rua"
        inputName="street"
        type="text"
      ></app-primary-input>
      <app-primary-input
        formControlName="number"
        label="Número"
        inputName="number"
        type="text"
      ></app-primary-input>
      <app-primary-input
        formControlName="complement"
        label="Complemento"
        inputName="complement"
        type="text"
      ></app-primary-input>
      <app-primary-input
        formControlName="state"
        label="Estado"
        inputName="state"
        type="text"
      ></app-primary-input>
      <app-primary-input
        formControlName="city"
        label="Cidade"
        inputName="city"
        type="text"
      ></app-primary-input>
      <app-primary-input
        formControlName="neighborhood"
        label="Bairro"
        inputName="neighborhood"
        type="text"
      ></app-primary-input>
    </div>
  </app-wrapper-card>
  <button
    mat-raised-button
    type="button"
    class="submit-btn"
    (click)="onSubmit()"
  >
    Salvar
  </button>
</form>
