<form [formGroup]="form" (keydown.enter)="onEnter($event)">
  @if(dataForm?.nfeNumero) {
    <div class="title-trash">
      <h2>NFe Nº: {{ dataForm!.nfeNumero }}</h2>
    </div>
  }

  <app-wrapper-card>
    <h3 class="section-title">Tipo de Operação*</h3>
    <mat-radio-group
      color="primary"
      formControlName="nfeNaturezaOperacao"
      aria-label="Selecione o tipo de saída"
      class="radio-button-group"
    >
      @for (tipo of tiposNfeSaida; track tipo.value) {
        <mat-radio-button
          class="radio-button"
          [value]="tipo.value"
        >
          {{ tipo.label }}
        </mat-radio-button>
      }
    </mat-radio-group>
    @if (form.get('nfeNaturezaOperacao')?.invalid && (form.get('nfeNaturezaOperacao')?.touched || submitted)) {
      <div class="error-message">
        Selecione o tipo de operação.
      </div>
    }

    <h3 class="section-title">Informações do Veículo*</h3>
    <app-primary-select
      formControlName="vehicleId"
      label="Veículo*"
      [options]="vehicles"
      optionValue="vehicleId"
      [optionLabel]="getVehicleDisplay.bind(this)"
      placeholder="Selecione o veículo"
      [error]="
        form.get('vehicleId')?.invalid &&
        (form.get('vehicleId')?.touched || submitted)
      "
    />

    <h3 class="section-title">Cliente/Destinatário*</h3>
    <app-primary-select
      formControlName="personId"
      label="Cliente/Destinatário*"
      [options]="persons"
      optionValue="personId"
      [optionLabel]="getPersonDisplay.bind(this)"
      placeholder="Selecione o cliente"
      [error]="
        form.get('personId')?.invalid &&
        (form.get('personId')?.touched || submitted)
      "
    />
  </app-wrapper-card>

  <button
    mat-raised-button
    type="button"
    class="submit-btn"
    color="primary"
    (click)="onSubmit()"
    #submitButton
  >
    {{ dataForm?.nfeNumero ? 'Atualizar' : 'Criar NFe' }}
  </button>

  @if (dataForm?.nfeNumero && dataForm?.status === 'Em digitacao') {
    <button
      mat-raised-button
      type="button"
      class="delete-btn"
      color="warn"
      (click)="onDelete()"
    >
      Cancelar NFe
    </button>
  }
</form>
