<div class="custom-dropdown" [class.disabled]="disabled">
  <span class="label">
    {{ label }}
  </span>

  <div class="dropdown-container">
    <button class="dropdown-button" (click)="toggleDropdown()">
      {{ selectedOption?.name || placeholder }}
      <span class="dropdown-arrow"></span>
      <span class="vertical-bar"></span>
    </button>
    <ul
      class="dropdown-menu"
      [class.open]="isOpen"
      [class.closed]="!isOpen"
      (mouseleave)="closeDropdown()"
      >
      @for (option of options; track option) {
        <li (click)="selectOption(option)">
          <span>{{ option.name }}</span>
          <div class="select_list_buttons">
            <button class="edit-button" (click)="editItem(option, $event)">
              ✏️
            </button>
            <button class="delete-button" (click)="deleteItem(option, $event)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </li>
      }
    </ul>
    <mat-icon [matTooltip]="matTooltip" (click)="createNewItem()"
      >add_box</mat-icon
      >
    </div>
  </div>
