<div class="custom-dropdown" [class.disabled]="disabled">
  <span>
    {{ label }}
  </span>

  <div class="dropdown-container">
    <button class="dropdown-button" (click)="toggleDropdown()">
      {{ selectedOption?.description || placeholder }}
      <span class="dropdown-arrow"></span>
      <span class="vertical-bar"></span>
    </button>
    <ul
      class="dropdown-menu"
      [class.open]="isOpen"
      [class.closed]="!isOpen"
      (mouseleave)="closeDropdown()"
    >
      <li *ngFor="let option of options" (click)="selectOption(option)">
        <span>{{ option.description }}</span>
        <button class="edit-button" (click)="editItem(option, $event)">
          ✏️
        </button>
      </li>
    </ul>
    <mat-icon [matTooltip]="matTooltip" (click)="createNewItem()">add_box</mat-icon>
  </div>
</div>
