<div class="input-wrapper">
  <label [for]="inputName">{{label}}</label>
  <div class="input-container">
    <div class="input-content">
      <input
        [id]="inputName"
        [type]="type"
        [mask]="mask"
        [placeholder]="placeholder"
        [value]="value"
        [attr.maxlength]="maxlength"
        [attr.required]="required ? '' : null"
        (input)="onInput($event)"
        (blur)="onBlur($event)"
      />
      <ng-content></ng-content>
    </div>
    @if (error) {
      <p class="invalid-field-message">Campo inválido</p>
    }
  </div>
</div>
