$primary-color: #4588c6;
$secondary-color: #3c3f6e;
$text-color: #555555;

$gray-bg: #c2c2c2;
$gray-secondary-bg: #f1f3f6;

$content-header-color: #656b73;

$success-color: rgb(45, 167, 101);
$warning-color: rgb(255, 133, 27);
$danger-color: rgb(150, 9, 9);
$error-color: rgb(196, 57, 33);
