@use "../../../styles/variables.scss" as *;

.container {
  background: rgba($color: #241907, $alpha: 0.2);
  height: auto;
  flex-grow: 1;

  /* Embaçamento (desfoque) */
  backdrop-filter: blur(1.5px);

  /* Compatibilidade com navegadores mais antigos */
  -webkit-backdrop-filter: blur(1.5px);

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;

  mat-sidenav {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-width: 50%;

    @media (max-width: 960px) {
      min-width: 70%;
    }

    @media (max-width: 599px) {
      /* Smartphones */
      min-width: 100%;
    }

    mat-nav-list {
      display: flex;
      flex-direction: column;
      flex-grow: 1; // Ocupa toda a altura disponível

      .closeX {
        position: absolute;
        right: 20px;
        cursor: pointer;
        z-index: 999;

        border: none;
        border-radius: 50%;
        transition: all 500ms;

        &:hover {
          background-color: rgba($color: #fd9886, $alpha: 0.1);
          transform: rotate(180deg);
        }
      }

      justify-content: space-between;

      .content {
        overflow-y: auto;
        margin-top: 20px;
        flex-grow: 1;
      }

      .btn-container {
        display: flex;
        justify-content: space-around;
        margin-bottom: 24px;
        gap: 10px;
        padding: 16px;
      }

      .close {
        color: rgb(50, 49, 153);
        width: 100%;
      }
    }
  }
}
