.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
}

th[mat-header-cell],
td[mat-cell] {
  &.mat-column-edit,
  &.mat-column-select,
  &.mat-column-delete {
    width: 48px;
    padding: 0px;
    text-align: center;
  }
}

mat-icon {
  font-size: 20px;
}

.delete-btn {
  &:hover {
    color: var(--danger-color-light);
  }
}

/* Estilo para o botão de edição */
button[mat-icon-button] {
  color: #3f51b5; /* Cor do ícone, ajuste conforme o tema */
}

/* Evitar que o clique no checkbox ou ícone acione o rowClick */
.row-clickable {
  td.mat-column-select,
  td.mat-column-edit {
    pointer-events: auto;
  }
}
