@use 'abstracts/variables' as *;

main {
  height: 100%;

  section {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 8px 12px rgba(99, 64, 255, 0.2);

    padding: 55px;

    h1 {
      font-weight: bold;
    }

    h2 {
      font-size: 20px;
      margin-bottom: 45px;
    }

    form {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-bottom: 34px;
      gap: 24px;
    }

    button {
      width: 100%;
      border-radius: 8px;
      font-size: 16px;
      font-weight: 500;
      border: none;
      background: transparent;
      padding: 12px 24px;
      cursor: pointer;

      background-color: var(--primary-color);
      color: white;
      box-shadow: 0px 8px 12px rgba(148, 64, 255, 0.2);

      &:disabled {
        background-color: $gray-bg;
        opacity: 1;
        cursor: not-allowed;
        color: var(--text-color-light);
      }

      &:not(:disabled):hover {
        background-color: var(--primary-color-dark);
        box-shadow: 0px 8px 16px rgba(148, 64, 255, 0.3);
      }
    }
  }
}

app-primary-input {
  position: relative;

  mat-icon {
    position: absolute;

    right: 10px;
  }
}
