<app-main-header (collapsedEvent)="toggleSidebar()" />
<!-- Escutando o evento -->
<mat-sidenav-container>
  <mat-sidenav
    [class.smallscreen]="isSmallScreen()"
    [class.collapsed]="collapsed()"
    [opened]="true"
    mode="side"
  >
    <app-sidenav
      [collapsed]="collapsed()"
      (toggleSidebar)="toggleSidebar()"
    />
  </mat-sidenav>
  <mat-sidenav-content
    class="sidenav-content"
    [class.collapsed]="collapsed()"
    [class.smallscreen]="isSmallScreen()"
    [style.margin-left]="sidenavWidth()"
  >
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>
