@use "./../../../../styles/variables.scss" as *;

mat-dialog-content {
  input {
    border: none;
    border-radius: 8px;
    padding: 12px;
    width: 100%;
    background-color: $gray-secondary-bg;
  }
}

mat-dialog-actions {
  display: flex;
  justify-content: end;
  margin-right: 16px;
  margin-bottom: 16px;
}
