<main>
  <mat-form-field>
    <mat-label>Pesquisar por nome</mat-label>
    <input matInput (input)="onSearch($event)">
  </mat-form-field>

  <app-content-header
    title="Pessoas"
    btn_label="Novo"
    fontIcon="add"
    (onClick)="handleOpenForm()"
  />

  @if (personPaginatedList?.totalElements) {
  <app-person-table
    (selectedPerson)="handleSelectedPerson($event)"
    [personPaginatedList]="personPaginatedList!"
    (pageEvent)="handlePageEvent($event)"
    [searchValue]="searchValue"
  />
  } @else {
    @if (clientListLoading()) {
      <div class="loader-div">
        <span class="loader"></span>
      </div>
    } @else {
      @if (clientListError()) {
        <div class="message-error mat-elevation-z8">
          <h3>Não foi possível acessar os dados da tabela</h3>
          <h4>Tente novamente em alguns minutos.</h4>
        </div>
      } @else {
        <br>
        <h2>Não há pessoas cadastradas</h2>
      }

    }
  }


  @if (openForm()) {
  <app-drawer (closeDrawer)="handleCloseDrawer()">
    <mat-tab-group [selectedIndex]="selectedPerson?.person?.cpf ? 0 : 1">
      <mat-tab label="Pessoa Física" [disabled]="selectedPerson && selectedPerson.person.cnpj">
        <app-natural-person-form
          [dataForm]="selectedPerson?.person?.cpf ? selectedPerson : null"
          (formSubmitted)="onFormSubmitted()"
        />
      </mat-tab>
      <mat-tab label="Pessoa Jurídica" [disabled]="selectedPerson && selectedPerson.person.cpf">
        <app-legal-entity-form
          [dataForm]="selectedPerson?.person?.cnpj ? selectedPerson : null"
          (formSubmitted)="onFormSubmitted()"
        />
      </mat-tab>
    </mat-tab-group>
  </app-drawer>
  }

  @if (openInfo()) {
    <app-drawer (closeDrawer)="handleCloseDrawer()">
      @if (selectedPerson?.person?.cpf) {
        <app-natural-person-info (editEvent)="handleEdit()" [person]="selectedPerson!.person" />
      } @else if(selectedPerson?.person?.cnpj) {
        <app-legal-entity-info (editEvent)="handleEdit()" [person]="selectedPerson!.person" />
      } @else {
        <h1>Dados não encontrados</h1>
      }
    </app-drawer>
  }
</main>
