<main>
  <!-- <mat-form-field>
    <mat-label>Pesquisar por nome</mat-label>
    <input matInput (input)="onSearch($event)" />
  </mat-form-field> -->

  <app-content-header
    title="Pessoas"
    btn_label="Novo"
    fontIcon="add"
    (onClick)="handleOpenForm()"
  />

  @if (personPaginatedList && personPaginatedList.page?.totalElements) {
  <app-generic-table
    [columns]="columns"
    [genericPaginatedList]="personPaginatedList"
    [totalElements]="personPaginatedList!.page.totalElements"
    [pageSizeOptions]="[5, 10, 25, 100]"
    (rowClick)="onRowClick($event)"
    (pageEvent)="handlePageEvent($event)"
    (editClick)="handleEdit($event)"
  ></app-generic-table>
  } @else { @if (clientListLoading()) {
  <div class="loader-div">
    <span class="loader"></span>
  </div>
  } @else { @if (clientListError()) {
  <div class="message-error mat-elevation-z8">
    <h3>Não foi possível acessar os dados da tabela</h3>
    <h4>Tente novamente em alguns minutos.</h4>
  </div>
  } @else {
  <br />
  <h2>Não há pessoas cadastradas</h2>
  } } } @if (openInfo()) {
  <app-drawer (closeDrawer)="handleCloseDrawer()">
    @if (!selectedPerson?.legalEntity) {
    <mat-tab-group [selectedIndex]="0">
      <mat-tab label="Pessoa Física">
        <app-natural-person-info
          (editEvent)="handleEdit()"
          [person]="selectedPerson!"
          (formSubmitted)="onFormSubmitted()"
        />
      </mat-tab>
      <mat-tab label="Negócios efetuados">
        <app-business-done-table />
      </mat-tab>
    </mat-tab-group>
    } @else if(selectedPerson?.legalEntity) {
    <mat-tab-group [selectedIndex]="0">
      <mat-tab label="Pessoa Jurídica">
        <app-legal-entity-info
          (editEvent)="handleEdit()"
          [person]="selectedPerson!"
          (formSubmitted)="onFormSubmitted()"
        />
      </mat-tab>
      <mat-tab label="Negócios efetuados">
        <app-business-done-table />
      </mat-tab>
    </mat-tab-group>
    } @else {
    <h1>Dados não encontrados</h1>
    }
  </app-drawer>
  }
  @if (openForm()) {
  <app-drawer (closeDrawer)="handleConfirmationCloseDrawer()">
    <mat-tab-group [selectedIndex]="selectedPerson?.legalEntity ? 1 : 0">
      <mat-tab
        label="Pessoa Física"
        [disabled]="selectedPerson && selectedPerson.legalEntity"
      >
        <app-natural-person-form
          [dataForm]="!selectedPerson?.legalEntity ? selectedPerson : null"
          (formSubmitted)="onFormSubmitted()"
          (formChanged)="handleFormChanged($event)"
        />
      </mat-tab>
      <mat-tab
        label="Pessoa Jurídica"
        [disabled]="selectedPerson && !selectedPerson.legalEntity"
      >
        <app-legal-entity-form
          [dataForm]="selectedPerson?.legalEntity ? selectedPerson : null"
          (formSubmitted)="onFormSubmitted()"
          (formChanged)="handleFormChanged($event)"
        />
      </mat-tab>
    </mat-tab-group>
  </app-drawer>
  }
</main>
