<mat-form-field
  appearance="outline"
  class="currency-field"
  [class.mat-form-field-invalid]="error"
>
  <mat-label>{{ label }}</mat-label>
  <span matTextPrefix>R$&nbsp;</span>
  <input
    matInput
    type="text"
    [id]="inputName"
    [placeholder]="placeholder"
    [value]="displayValue()"
    [readonly]="readonly"
    [required]="required"
    (input)="onInput($event)"
    (blur)="onBlur()"
    autocomplete="off"
  />
  <mat-hint *ngIf="hint">{{ hint }}</mat-hint>
  <mat-error *ngIf="error">Campo obrigatório</mat-error>
</mat-form-field>
