@use './styles/variables.scss' as *;
@use 'ngx-toastr/toastr';
@use '@angular/material' as mat;
@use 'variables' as *;
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@include mat.core();

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

:root {
  --text-color: #{$text-color};
  --primary-color: #{$primary-color};

  // Estilizar o texto do mat-radio-button em toda aplicação
  mat-radio-button .mdc-label {
    color: $text-color !important;
  }
}

mat-expansion-panel .mat-expansion-panel-content .mat-expansion-panel-body {
  padding: 0 !important;
}

table {
  .mat-mdc-header-row {
    background-color: #b0b0ca35; /* Cor de fundo */
    height: 2.5rem;
  }

  .nowrap {
    white-space: nowrap;
  }

  /* Style to zebra lines */
  .even-row {
    background-color: #fff;
  }

  .odd-row {
    background-color: #f5f5f562;
  }

  .row-clickable {
    cursor: pointer;

    &:hover {
      color: $primary-color;
    }
  }
}
