<div class="header-container">
  <mat-toolbar class="dark-bar mat-elevation-z2">
    <div class="header-titles">
      <span class="page-title">{{ title }}</span>
      @if (subtitle) {
        <span class="page-subtitle">{{ subtitle }}</span>
      }
    </div>
  </mat-toolbar>

  <div class="header-actions">
    <ng-content></ng-content>
    @if (btn_label || showIconOnly) {
      <button
        mat-flat-button
        color="primary"
        class="primary-action-btn"
        [class.icon-only]="showIconOnly"
        [class.has-add-badge]="showAddBadge"
        (click)="handleAction()"
      >
        <div class="icon-wrapper">
          <mat-icon
            matListItemIcon
            [fontIcon]="fontIcon"
          />
          @if (showAddBadge) {
            <mat-icon class="add-badge">add</mat-icon>
          }
        </div>
        @if (!showIconOnly) {
          <span matListItemTitle>{{ btn_label }}</span>
        }
      </button>
    }
  </div>
</div>
