@use '../../../styles/variables' as *;

mat-toolbar {
  position: relative;
  z-index: 5;
  height: 3rem;
  display: flex;
  justify-content: space-between;

  button {
    background-color: $primary-color;
  }
}
