mat-toolbar {
  position: relative;
  z-index: 5;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  color: whitesmoke;

  background-color: var(--content-header-color);

  button {
    background-color: whitesmoke;
  }
}
