<form [formGroup]="form">
  <app-wrapper-card title="Dados da empresa">
    <app-primary-input
      formControlName="legalName"
      label="Razão Social"
      inputName="legalName"
      type="text"
      [error]="
        form.get('legalName')?.invalid &&
        (form.get('legalName')?.touched || submitted)
      "
    />
    <app-primary-input
      formControlName="tradeName"
      label="Nome Fantasia"
      inputName="tradeName"
      type="text"
    />

    <!-- Grupo de contato -->
    <div formGroupName="contact">
      <app-primary-input
        formControlName="email"
        label="Email"
        inputName="email"
        type="email"
        placeholder="exemplo@email.com"
        [error]="
          form.get('contact.email')?.invalid &&
          (form.get('contact.email')?.touched || submitted)
        "
      />
      <app-primary-input
        formControlName="phone"
        label="Telefone"
        inputName="phone"
        type="text"
      />
    </div>

    <app-primary-input
      formControlName="cnpj"
      label="CNPJ"
      inputName="cnpj"
      type="text"
    />
    <app-primary-input
      formControlName="ie"
      label="Inscrição Estadual"
      inputName="ie"
      type="text"
    />
  </app-wrapper-card>

  <app-wrapper-card title="Endereço">
    <div formGroupName="address">
      <app-primary-input
        formControlName="zipcode"
        label="Código Postal"
        inputName="zipcode"
        type="text"
      ></app-primary-input>
      <app-primary-input
        formControlName="street"
        label="Rua"
        inputName="street"
        type="text"
      ></app-primary-input>
      <app-primary-input
        formControlName="number"
        label="Número"
        inputName="number"
        type="text"
      ></app-primary-input>
      <app-primary-input
        formControlName="complement"
        label="Complemento"
        inputName="complement"
        type="text"
      ></app-primary-input>
      <app-primary-input
        formControlName="state"
        label="Estado"
        inputName="state"
        type="text"
      ></app-primary-input>
      <app-primary-input
        formControlName="city"
        label="Cidade"
        inputName="city"
        type="text"
      ></app-primary-input>
      <app-primary-input
        formControlName="neighborhood"
        label="Bairro"
        inputName="neighborhood"
        type="text"
      ></app-primary-input>
    </div>
  </app-wrapper-card>

  <button mat-flat-button type="button" (click)="onSubmit()">Enviar</button>
</form>
