<div  class = "mat-elevation-z8" >
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> # </th>
      <td mat-cell *matCellDef="let element, index as i"> {{i + 1}} </td>
    </ng-container>

    <ng-container matColumnDef="fullName">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.person.fullName ? element.person.fullName : element.person.legalName}} </td>
    </ng-container>

    <ng-container matColumnDef="cpf">
      <th mat-header-cell *matHeaderCellDef > Pessoa Jurídica </th>
      <td mat-cell *matCellDef="let element"> {{element.person.cpf ? 'Não' : 'Sim'}} </td>
    </ng-container>

    <ng-container matColumnDef="cnpj">
      <th mat-header-cell *matHeaderCellDef > CPF/CNPJ </th>
      <td mat-cell *matCellDef="let element"> {{element.person.cpf ? element.person.cpf : element.person.cnpj}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns;"
      (click)="onRowClick(row)"
      class="row-clickable"
    ></tr>
  </table>
  <mat-paginator
    [pageSizeOptions]= "[5, 10, 20, 50, 100]"
    showFirstLastButtons
    aria-label = "Selecionar página de elementos periódicos"
  >
  </mat-paginator>
  </div>
