<mat-toolbar>
  <button
    mat-icon-button
    (click)="collapsedEvent.emit()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>C.A.R.</span>
  <span class="spacer"></span>

  <mat-select
    [(ngModel)]="selectedStoreId"
    (selectionChange)="onStoreChange()"
    class="header-store-select"
    panelClass="header-store-select-panel"
    [disabled]="!isCarAdmin && !canReadStoreOthers"
  >
    @if (isCarAdmin || canReadStoreOthers) {
      <mat-option value="ALL">
        {{ isCarAdmin ? 'Toda a Rede (Global)' : 'Toda a Rede' }}
      </mat-option>
      @for (store of stores; track store.storeId) {
        <mat-option [value]="store.storeId">
          {{ store.name }} - {{ store.cnpj }}
        </mat-option>
      }
    } @else {
      <mat-option [value]="selectedStoreId">
        {{ storeName() || 'Filial' }}
      </mat-option>
    }
  </mat-select>
</mat-toolbar>
