<form [formGroup]="form" (keydown.enter)="onEnter($event)">
  <app-wrapper-card title="Dados pessoais">
    <app-primary-input
      formControlName="name"
      label="Nome completo"
      inputName="name"
      type="text"
      [error]="
        form.get('name')?.invalid &&
        (form.get('name')?.touched || submitted)
      "
    />

 <!-- Tipos de Relacionamento -->
      <app-primary-select
        label="Tipos de Relacionamento *"
        placeholder="Selecione os tipos"
        inputName="relationshipTypes"
        [allowMultiple]="false"
        formControlName="relationshipTypes"
        [error]="submitted && form.get('relationshipTypes')?.invalid"
      ></app-primary-select>

      <!-- Mensagem de erro para relationshipTypes -->
      @if (submitted && form.get('relationshipTypes')?.invalid) {
        <div class="error-message">
          Selecione pelo menos um tipo de relacionamento
        </div>
      }

    <app-primary-input
    formControlName="nickName"
    label="Apelido"
    inputName="nickName"
    type="text"
    placeholder="Como deseja ser chamado?"
    />

    <div formGroupName="contact">
      <app-primary-input
        formControlName="email"
        label="Email"
        inputName="email"
        type="email"
        placeholder="exemplo@email.com"
        [error]="
          form.get('contact.email')?.invalid &&
          (form.get('contact.email')?.touched || submitted)
        "
      />
      <app-primary-input
        formControlName="phone"
        label="Celular"
        inputName="phone"
        type="tel"
        placeholder="(00) 00000-0000"
        mask="(00) 00000-0000"
      />
    </div>
    <app-primary-input
      formControlName="cpf"
      label="CPF"
      inputName="cpf"
      type="text"
      placeholder="000.000.000-00"
      mask="000.000.000-00"
      appCpfValidator
      [error]="
        form.get('cpf')?.invalid &&
        (form.get('cpf')?.touched || submitted)
      "
    />
  </app-wrapper-card>
<!--
  <app-wrapper-card title="Endereço">
    <div formGroupName="address">
      <app-primary-input
        formControlName="zipcode"
        label="Código Postal"
        inputName="zipcode"
        placeholder="00000-000"
        mask="00000-000"
        type="text"
        [error]="
          form.get('address.zipcode')?.invalid &&
          (form.get('address.zipcode')?.touched || submitted)"
      >
        <button class="search-icon-btn" (click)="getAddressByCep()" [disabled]="!isCepValid()" [class.is-active]="isCepValid()">
          <mat-icon class="search-icon">search</mat-icon>
        </button>
      </app-primary-input>

      <app-primary-input
        formControlName="street"
        label="Rua"
        inputName="street"
        type="text"
      ></app-primary-input>
      <app-primary-input
        formControlName="number"
        label="Número"
        inputName="number"
        type="text"
      ></app-primary-input>
      <app-primary-input
        formControlName="complement"
        label="Complemento"
        inputName="complement"
        type="text"
      ></app-primary-input>
      <app-primary-input
        formControlName="state"
        label="Estado"
        inputName="state"
        type="text"
      ></app-primary-input>
      <app-primary-input
        formControlName="city"
        label="Cidade"
        inputName="city"
        type="text"
      ></app-primary-input>
      <app-primary-input
        formControlName="neighborhood"
        label="Bairro"
        inputName="neighborhood"
        type="text"
      ></app-primary-input>
    </div>
  </app-wrapper-card> -->
  <button
    mat-raised-button
    type="button"
    class="submit-btn"
    (click)="onSubmit()"
    #submitButton
  >
    Salvar
  </button>
</form>
