@use 'abstracts/variables' as *;
@use 'abstracts/functions' as *;

:root {
  --primary-color: #{$primary-color};
  --primary-color-light: #{lighten-color($primary-color, 20%)};
  --primary-color-dark: #{darken-color($primary-color, 20%)};

  --secondary-color: #{$secondary-color};
  --secondary-color-light: #{lighten-color($secondary-color, 20%)};
  --secondary-color-dark: #{darken-color($secondary-color, 20%)};

  --text-color: #{$text-color};
  --text-color-light: #{lighten-color($text-color, 20%)};
  --text-color-dark: #{darken-color($text-color, 20%)};

  --success-color: #{$success-color};
  --warning-color: #{$warning-color};

  --danger-color: #{$danger-color};
  --danger-color-light: #{lighten-color($danger-color, 5%)};
  --danger-color-dark: #{darken-color($danger-color, 5%)};

  --error-color: #{$error-color};

  --content-header-color: #{$content-header-color};
  --gray-bg: #{$gray-bg};
  --gray-secondary-bg: #{$gray-secondary-bg};

  // Novas variáveis CSS para tabelas e estados
  --table-header-bg: #{$table-header-bg};
  --table-odd-row: #{$table-odd-row};
  --table-even-row: #{$table-even-row};
  --selected-item-bg: #{$selected-item-bg};
  --hover-bg: #{$hover-bg};

  // Variações adicionais
  --gray-bg-light: #{lighten-color($gray-bg, 10%)};
  --gray-bg-dark: #{darken-color($gray-bg, 10%)};
}
